.main {
  background-image: url('/imgs/svg04.svg');
  background-position: center;
  height: 100vh;
  background-position-y: 81%;
  background-repeat: repeat-x;
  animation: backgroundEffect 4s cubic-bezier(0.14, 0, 0.81, 0.99) infinite alternate-reverse;
}

.cardSection {
  height: 450px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  .cardSection {
    box-shadow: none;
    padding: 0px;
    min-width: 350px !important;;
  }
}

@media (max-width: 768px) {
  .cardSection {
    box-shadow: none;
  }
}

@keyframes backgroundEffect {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 100%;
  }
}